{% extends 'social_media/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-6 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4>{{ profile.name }}</h4>
                </div>
                <div class="card-body">
                    <p><strong>Age:</strong> {{ profile.age }}</p>
                    <p><strong>Occupation:</strong> {{ profile.occupation }}</p>   
                    <p><strong>Bio:</strong> {{ profile.bio }}</p>
                    <p><strong>Last Active:</strong> {{ profile.last_active }}</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
